---
layout: workshop      # DON'T CHANGE THIS.
carpentry: "swc"    # what kind of Carpentry (must be either "dc" or "swc")
venue: "Universidade Federal do Paraná"        # brief name of host site without address (e.g., "Euphoric State University")
address: "LAMIND (PC13) - Centro Politécnico, Curitiba/PR"      # full street address of workshop (e.g., "Room A, 123 Forth Street, Blimingen, Euphoria")
country: "br"      # lowercase two-letter ISO country code such as "fr" (see https://en.wikipedia.org/wiki/ISO_3166-1)
language: "pt"     # lowercase two-letter ISO language code such as "fr" (see https://en.wikipedia.org/wiki/ISO_639-1)
latlng: "-25.450877,-49.231512"       # fractional latitude and longitude (e.g., "41.7901128,-87.6007318"; you can use http://www.latlong.net/)
humandate: "01-03 de Agosto, 2016"    # human-readable dates for the workshop (e.g., "Feb 17-18, 2020")
humantime: "9h00 - 17h30"    # human-readable times for the workshop (e.g., "9:00 am - 4:30 pm")
startdate: 2016-08-01      # machine-readable start date for the workshop in YYYY-MM-DD format like 2015-01-01
enddate: 2016-08-03        # machine-readable end date for the workshop in YYYY-MM-DD format like 2015-01-02
instructor: ["Abel Soares Siqueira", "Fernando de Pol Mayer", "Kally Chung"] # boxed, comma-separated list of instructors' names as strings, like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: [""]     # boxed, comma-separated list of helpers' names, like ["Marlyn Wescoff", "Fran Bilas", "Ruth Lichterman"]
contact: "abelsiqueira@ufpr.br"      # contact email address for host, lead instructor, or whoever else is handling questions
etherpad: "http://pad.software-carpentry.org/2016-08-01-ufpr"  # optional: URL for the workshop Etherpad if there is one
eventbrite:           # optional: alphanumeric key for Eventbrite registration, e.g., "1234567890AB" (if Eventbrite is being used)
---

<!-- See instructions in the comments below for how to edit specific sections of this workshop template. -->

<!--
  HEADER

  Edit the values in the block above to be appropriate for your workshop.
  If the value is not 'true', 'false', 'null', or a number, please use
  double quotation marks around the value, unless specified otherwise.
  And run 'tools/check' *before* committing to make sure that changes are good.
-->

<!--
  EVENTBRITE

  This block includes the Eventbrite registration widget if
  'eventbrite' has been set in the header.  You can delete it if you
  are not using Eventbrite, or leave it in, since it will not be
  displayed if the 'eventbrite' field in the header is not set.
-->
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<h2 id="general">Informações gerais</h2>

<!--
  INTRODUCTION

  Edit the general explanatory paragraph below if you want to change
  the pitch.
-->
<p>
  A missão da <a href="//software-carpentry.org">Software Carpentry</a>
  é ajudar cientistas e engenheiros a serem mais produtivos com menos sofrimento
  ao ensinar práticas laboratoriais para computação científica.
  Esse workshop prático irá cobrir
  conceitos e ferramentas, incluindo design de programas, controle de versão,
  gerenciamento de dados e automação de tarefas.
  Participantes são encorajados a se ajudarem
  e aplicarem o que eles aprenderem em suas próprias pesquisas.
</p>
<p align="center">
  <em>
    Para mais informações sobre o que ensinamos e porque,
    leia nosso artigo
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>

<!--
  AUDIENCE

  Explain who your audience is.  (In particular, tell readers if the
  workshop is only open to people from a particular institution.
-->
<p id="who">
  <strong>Quem:</strong>
  Este curso é destinado alunos de graduação, pós-graduação e outros pesquisadores.
  <strong>Você não precisa ter nenhum conhecimento prévio das ferramentas que
      serão apresentadas nesse workshop.</strong>
</p>

<!--
  LOCATION

  This block displays the address and links to maps showing directions
  if the latitude and longitude of the workshop have been set.  You
  can use http://itouchmap.com/latlong.html to find the lat/long of an
  address.
-->
{% if page.latlng %}
<p id="where">
  <strong>Onde:</strong>
  {{page.address}}.
  Obtenha direções em
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  ou
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<!--
  SPECIAL REQUIREMENTS

  Modify the block below if there are any special requirements.
-->
<p id="requirements">
  <strong>Requerimentos:</strong>
  Não é necessário levar computador para participar, pois teremos tudo instalado
  nos laboratórios. No entanto, aqueles que quiserem usar o próprio notebook
  devem instalar os softwares específicos <strong>antes</strong> do início do
  workshop.
  Também é necessário seguir o código de conduta do Software Carpentry:
  <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<!--
  ACCESSIBILITY

  Modify the block below if there are any barriers to accessibility or
  special instructions.
-->

<!--
  CONTACT EMAIL ADDRESS

  Display the contact email address set in the configuration file.
-->
<p id="contact">
  <strong>Contato</strong>:
  Para mais informações, entre em contato pelo e-mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>.
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>.
  {% endif %}
</p>

<hr/>

<h2>Instrutores</h2>
<div class="row">
  <div class="col-md-4 instrutor">
    <img src="img/abel.jpg">
    <p>
    <a href="http://abelsiqueira.github.io/">Abel Soares Siqueira</a> é
    professor do Departamento de Matemática da UFPR e trabalha com software há
    pelo menos dez anos.
    Um de seus interesses são as ferramentas livres e como elas podem melhorar
    sua vida, seja como professor, aluno ou pesquisador.
    </p>
  </div>
  <div class="col-md-4 instrutor">
    <img src="img/fernando.jpg">
    <p>
    <a href="http://fernandomayer.github.io/">Fernando
    de Pol Mayer</a> é professor do Departamento de Estatística da UFPR,
    utiliza software livre em todas as etapas do seu trabalho, e
    acredita que mais pessoas podem se beneficiar com estas ferramentas.
    </p>
  </div>
  <div class="col-md-4 instrutor">
    <img src="img/kally.jpg">
    <p>
    Kally Chung
    é formada em Matemática Aplicada pela UNICAMP, e já trabalha com o Software
    Carpentry há 3 anos, seja como monitora ou instrutora.
    </p>
  </div>
</div>

<h2 id="insc">Inscrições</h2>

<p> As inscrições foram encerradas. Em breve lhe enviaremos um e-mail indicando
  a sua situação.
</p>

<hr/>

<!--
  SCHEDULE

  Show the workshop's schedule.  Edit the items and times in the table
  to match your plans.  You may also want to change 'Day 1' and 'Day
  2' to be actual dates or days of the week.
-->
<h2 id="schedule">Cronograma</h2>

<!-- DO NOT EDIT SURVEY LINKS -->
<!--
<p><em>Surveys</em></p>
<p> Por favor, faça os pequenos surveys a seguir.
</p>
<p><a href='{{ site.swc_pre_survey }}{{ site.github.project_title }}'>Pre-workshop Survey</a></p>
<p><a href='{{ site.swc_post_survey }}{{ site.github.project_title }}'>Post-workshop Survey</a></p>
-->

O cronograma abaixo é preliminar, e pode sofrer alterações.
Avisaremos no início da oficina o calendário final.

<div class="row">
  <div class="col-md-4">
    <h3>Segunda</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Abertura</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>Shell</td> </tr>
      <tr> <td>12:30</td>  <td>Almoço</td> </tr>
      <tr> <td>14:00</td>  <td>Julia - parte 1</td> </tr>
      <tr> <td>15:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>16:00</td>  <td>R - parte 1</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Terça</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Git - parte 1</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>R - parte 2</td> </tr>
      <tr> <td>12:30</td>  <td>Almoço</td> </tr>
      <tr> <td>14:00</td>  <td>LaTeX - parte 1</td> </tr>
      <tr> <td>15:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>16:00</td>  <td>LaTeX - parte 2</td> </tr>
    </table>
  </div>
  <div class="col-md-4">
    <h3>Quarta</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Git - parte 2</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>Julia - parte 2</td> </tr>
      <tr> <td>12:30</td>  <td>Almoço</td> </tr>
      <tr> <td>14:00</td>  <td>Rmarkdown</td> </tr>
      <tr> <td>15:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>16:00</td>  <td>Fechamento</td> </tr>
    </table>
  </div>
</div>

<!--
  ETHERPAD

  At `_misc/etherpad.txt` you will find a template for the etherpad.

  Display the Etherpad for the workshop.  You can set this up in
  advance or on the first day; either way, make sure you push changes
  to GitHub after you have its URL.  To create an Etherpad, go to

      http://pad.software-carpentry.org/YYYY-MM-DD-site

  where 'YYYY-MM-DD-site' is the identifier for your workshop,
  e.g., '2015-06-10-esu'.
-->
{% if page.etherpad %}
<p id="etherpad">
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  Iremos utilizar o Etherpad listado acima para chat,
  anotações e compartilhamento de links e pequenos pedaços de código.
</p>
{% endif %}

<hr/>

Downloads:
<a href="{{ site.baseurl }}/assets/aula-julia.zip">Aula de Julia</a>

<hr/>

<!--
  SYLLABUS

  Show what topics will be covered.

  1. If your workshop is R rather than Python, remove the comment
     around that section and put a comment around the Python section.
  2. Some workshops will delete SQL.
  3. Please make sure the list of topics is synchronized with what you
     intend to teach.
  4. You may need to move the div's with class="col-md-6" around inside
     the div's with class="row" to balance the multi-column layout.

  This is one of the places where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->
<h2 id="syllabus">Resumo</h2>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">O Shell Unix</h3>
    <ul>
      <li>Arquivos e diretórios</li>
      <li>Histórico de comandos e complementação com tab</li>
      <li>Redirecionamento e pipes</li>
      <li>Looping sobre arquivos</li>
      <li>Criando e executando scripts shell</li>
      <li>Achando coisas</li>
      <li><a href="{{site.swc_githubio}}/shell-novice/reference.html">Reference...</a></li>
    </ul>
    <h3 id="syllabus-git">Controle de versão com Git</h3>
    <ul>
      <li>Criando um repositório</li>
      <li>Gravando mudanças em arquivos: <code>add</code>, <code>commit</code>, ...</li>
      <li>Visualizando mudanças: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignorando arquivos</li>
      <li>Trabalhando na web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolvendo conflitos</li>
      <li>Licensas abertas</li>
      <li>Onde hospedar códigos, e porque</li>
      <li><a href="{{site.swc_githubio}}/git-novice/reference.html">Reference...</a></li>
    </ul>
    <h3 id="syllabus-RMarkdown">RMarkdown</h3>
    <ul>
      <li>Markdown</li>
      <li>Pandoc</li>
      <li>knitr</li>
      <li>Documentos dinâmicos com R e Markdown</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-r">Programando com o R</h3>
    <ul>
      <li>Trabalhando com vetores e data frames</li>
      <li>Lendo e visualizando dados</li>
      <li>Criando e usando funções</li>
      <li>Estruturas de repetição e condicionais</li>
      <li>Usando o R a partir da linha de comando</li>
      <li><a href="{{site.swc_githubio}}/r-novice-inflammation/reference.html">Reference...</a></li>
    </ul>
    <h3 id="syllabus-latex">LaTeX</h3>
    <ul>
      <li> Qual a importância? </li>
      <li> Cabeçalho </li>
      <li> Ambiente matemático </li>
      <li> Adicionando imagens </li>
      <li> Adicionado tabelas </li>
      <li> Bibliografia </li>
      <li> Slides </li>
    </ul>
    <h3 id="syllabus-julia">Julia</h3>
    <ul>
      <li> Álgebra Linear </li>
      <li> Lendo e plotando dados </li>
      <li> Criando e usando scripts </li>
      <li> Criando e usando funções </li>
      <li> Loops e condicionais </li>
    </ul>
  </div>
</div>

<hr/>

<!--
  SETUP

  Delete irrelevant sections from the setup instructions.  Each
  section is inside a 'div' without any classes to make the beginning
  and end easier to find.

  This is the other place where people frequently make mistakes, so
  please preview your site before committing, and make sure to run
  'tools/check' as well.
-->

<h2 id="setup">Instalações</h2>

<p>
  O Workshop será feito no Laboratório de Matemática Industrial, e todos os
  softwares necessários estarão instalados lá.
  No entanto, se você quiser utilizar o seu notebook, você precisa ter
  acesso aos softwares descritos abaixo. Além disso, você precisará de
  um browser atualizado.
</p>
<p>
  <strong>Atenção:</strong> A internet costuma não aguentar tantas pessoas
  conectadas de uma só vez, então a instalação na hora do evento não é
  recomendada.
</p>
<p>
  Nós mantemos uma lista de problemas comuns que podem ocorrer durante a
  instalação, como uma referência para instrutores, e que pode ser
  encontrada na
  <a href =
  "https://github.com/swcarpentry/workshop-template/wiki/Configuration-Problems-and-Solutions">Página
  de problemas de configuração e soluções</a> (em inglês).
</p>

<div id="shell"> <!-- Start of 'shell' section. -->
  <h3>O Shell Bash</h3>

  <p>
    O Bash é um shell muito utilizado, e que oferece o poder de realizar
    tarefas simples rapidamente.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="shell-windows">Windows</h4>
      <a href="https://www.youtube.com/watch?v=339AEqk9c-8">Video Tutorial</a>
      <ol>
        <li>Baixe <a href="https://git-for-windows.github.io/">o instalador</a> do Git para Windows.</li>
        <li>Execute o instalador e siga os passos abaixo:
          <ol>
            <!-- Git 2.6.1 Setup -->
            <!-- Welcome to the Git Setup Wizard -->
            <li>Selecione "Avançar".</li>
            <!-- Information -->
            <li>Selecione "Avançar".</li>
            <!-- Select Destination Location -->
            <li>Selecione "Avançar".</li>
            <!-- Select Components -->
            <li>Selecione "Avançar".</li>
            <!-- Select Start Menu Folder -->
            <li>Selecione "Avançar".</li>
            <!-- Adjusting your PATH environment -->
            <li>
              <strong>
                Selecione "Usar Git pela Prompt de Comando do Windows" e
                selecione "Avançar".
              </strong>
                Se você esquecer desse passo alguns programas que você utilizará
                no workshop não funcionaram corretamente. Se isso acontecer
                execute o instalador novamente e selecione a opção apropriada.
            </li>
            <!-- Configuring the line ending conversions -->
            <li>
              Selecione "Avançar".
              <strong>
                Mantenha "Checkout Windows-style, commit Unix-style line
                endings" selecionado.
              </strong>
            </li>
            <!-- Configuring the terminal emulator to use with Git Bash -->
            <li>
              <strong>
                Selecione "Use Windows' default console window" e selecione
                "Avançar".
              </strong>
            </li>
            <!-- Configuring experimental performance tweaks -->
            <li>Selecione "Avançar".</li>
            <!-- Installing -->
            <!-- Completing the Git Setup Wizard -->
            <li>Selecione "Encerrar".</li>
          </ol>
        </li>
        <li>
          Se a sua variável de ambiente "HOME" não está configurada (ou
          você não sabe o que isso significa):
          <ol>
            <li>Abra o prompt de comando (abra o menu inicial,
              digite <code>cmd</code> e aperte [Enter])</li>
            <li>
              Digite a seguinte linha na janela do prompt de comando,
              exatamente como mostrado:
              <p><code>setx HOME "%USERPROFILE%"</code></p>
            </li>
            <li>Aperte [Enter], você deverá ver <code>SUCCESS: Specified value was saved.</code></li>
            <li>Saia do prompt de comando digitando <code>exit</code> e apertando [Enter]</li>
          </ol>
        </li>
      </ol>
      <p>Isso irá prover o Git e o Bash no programa chamado Git Bash.</p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-macosx">Mac OS X</h4>
      <p>
        O terminal padrão em todas as versões do Mac OS X é o Bash e portanto você
        não precisa instalar nada. Você pode acessar o bash pelo Terminal
        (encontrado em
        <code>/Applications/Utilities</code>).
        Veja o <a href="https://www.youtube.com/watch?v=9LQhwETCdwY">video tutorial</a> com a instalação do Git
        para um exemplo de como abrir o Terminal.
        Você provavelmente vai
        querer manter o Terminal no dock da sua área de trabalho.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="shell-linux">Linux</h4>
      <p>
        O terminal padrão normalmente é <code>bash</code> e você não precisa
        instalar nada.  Se sua máquina estiver configurada de maneira diferente
        você pode abrir um terminal e digitar <code>bash</code>.
      </p>
    </div>
  </div>
</div> <!-- End of 'shell' section. -->

<div id='git'> <!-- Start of 'Git' section. GitHub browser compatability
           is given at https://help.github.com/articles/supported-browsers/-->
  <h3>Git</h3>
  <p>
    Git é um sistema de controle de versão
    que permite você manter registro de quem faz uma alteração
    em qual arquivo e quando
    além de possuir opções para facilmente atualizar seu código
    em <a href="https://github.com/">github.com</a>.
    Você vai precisar de um navegador web
    <a href="https://help.github.com/articles/supported-browsers/">suportado</a>
    (versões atuais do Chrome, Firefox ou Safari,
    ou Internet Explorer 9 ou superior).
  </p>
  <p>
    Você precisará de uma conta
    no <a href="https://github.com/">github.com</a> para algumas partes
    da seção de Git. Contas básicas do GitHub são gratuitas. Nós
    encorajamos você a criar uma conta no GitHub se você ainda não tem
    uma. Por favor considere quais informações pessoais você gostaria de
    revelar. Por exemplo, você pode revisar
    as <a href="https://help.github.com/articles/keeping-your-email-address-private/">instruções
    para manter seu endereço de email privado</a> no GitHub (em inglês).
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="git-windows">Windows</h4>
      <p>
        Git deve estar instalado no seu computador como parte da instalação do
        Bash (descrito acima).
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="git-macosx">Mac OS X</h4>
      <a href="https://www.youtube.com/watch?v=9LQhwETCdwY ">Video Tutorial</a>
      <p>
        <strong>Para OS X 10.9 e superior</strong>,
        instale Git para Mac
        baixando e executando a versão mais recente do instalador "mavericks"
        <a href="http://sourceforge.net/projects/git-osx-installer/files/">dessa lista</a>.
        Depois de instalar Git, não existirá nenhum atalho no seu diretório <code>/Applications</code>
        pois Git é um programa de linha de comando.
      </p>
      <p>
        <strong>Para versões antigas do OS X (10.5-10.8)</strong>
        utilize o instalador mais recente
        <a href="http://sourceforge.net/projects/git-osx-installer/files/">disponível aqui</a>
        que esteja marcado com "snow-leopard".
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="git-linux">Linux</h4>
      <p>
        Se Git ainda não encontra-se disponível na sua máquina você pode
        instalá-lo via o gerenciador de pacotes da sua distribuição
        Para Debian/Ubuntu execute
        <code>sudo apt-get install git</code>
        e para Fedora execute <code>sudo yum install git</code>.
      </p>
    </div>
  </div>
</div> <!-- End of 'Git' section. -->

<div id="editor"> <!-- Start of 'editor' section. -->
  <h3>Editor de Texto</h3>

  <p>
    Quando você está escrevendo um código, é interessante ter um editor de
    texto otimizado para a escrita de código, com funcionalidades como
    utilização de cores para palavras chaves. O editor padrão no Mac OS X e
    Linux é o Vim, que não é famoso por ser intuitivo.
    Se você acidentalmente encontrar-se preso nele,
    tente pressionar <code>ESC</code>, digitar <code>:q!</code> e pressionar <code>ENTER</code>
    para retornar à linha de comando.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="editor-windows">Windows</h4>
      <a href="https://www.youtube.com/watch?v=339AEqk9c-8">Video Tutorial</a>
      <p>
        nano é um editor básico e o padrão utilizado pelos instrutores
        durante o workshop. Para instalá-lo, baixe
        o <a href="{{site.swc_installer}}">Software Carpentry Windows
        installer</a> e clique duas vezes no arquivo para
        executá-lo. <strong>Este instalador requer uma conexão ativa com
        a internet.</strong>
      </p>
      <p>
        Outros editores que você pode usar são
        <a href="http://notepad-plus-plus.org/">Notepad++</a>,
        <a href="https://atom.io/">Atom</a> ou
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
        <strong>Fique atento pois você precisará adicionar o diretório
          de instalação destes editores ao path do sistema.</strong>
        Por favor, solicite ajuda ao seu instrutor para fazer isso.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-macosx">Mac OS X</h4>
      <p>
        nano é um editor básico e o padrão utilizado pelos instrutores
        durante o workshop. Veja
        o <a href="https://www.youtube.com/watch?v=9LQhwETCdwY ">vídeo
        tutorial</a> de instalação do Git para um exemplo de como abrir
        o nano. Ele já deve estar pré-instalado.
      </p>
      <p>
        Outros editores que você pode usar são
        <a href="http://www.barebones.com/products/textwrangler/">Text
          Wrangler</a>,
        <a href="https://atom.io/">Atom</a> ou
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="editor-linux">Linux</h4>
      <p>
        nano é um editor básico e o padrão utilizado pelos instrutores
        durante o workshop. Ele já deve estar pré-instalado.
      </p>
      <p>
        Outros editores que você pode usar são
        <a href="https://wiki.gnome.org/Apps/Gedit">Gedit</a>,
        <a href="https://atom.io/">Atom</a>,
        <a href="http://kate-editor.org/">Kate</a> ou
        <a href="http://www.sublimetext.com/">Sublime Text</a>.
      </p>
    </div>
  </div>
</div> <!-- End of 'editor' section. -->

<div id="r"> <!-- Start of 'R' section. -->
  <h3>R</h3>

  <p>
    <a href="http://www.r-project.org">R</a> é uma linguagem de programação
    que é particularmente poderosa para exploração de dados, visualização, e
    análises estatísticas. Para interagir com R, nós utilizaremos o
    <a href="http://www.rstudio.com/">RStudio</a>.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h4 id="r-windows">Windows</h4>
      <a href="https://www.youtube.com/watch?v=q0PjTAylwoU">Video Tutorial</a>
      <p>
        Instale R baixando e rodando
        <a href="http://cran.r-project.org/bin/windows/base/release.htm">este arquivo .exe</a>
        disponível no <a href="http://cran.r-project.org/index.html">CRAN</a>.
        Além disso, por favor instale o
        <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="r-macosx">Mac OS X</h4>
      <a href="https://www.youtube.com/watch?v=5-ly3kyxwEg">Video Tutorial</a>
      <p>
        Instale o R baixando e rodando
        <a href="http://cran.r-project.org/bin/macosx/R-latest.pkg">este arquivo .pkg</a>
        disponível no <a href="http://cran.r-project.org/index.html">CRAN</a>.
        Além disso, por favor instale o
        <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
    <div class="col-md-4">
      <h4 id="r-linux">Linux</h4>
      <p>
        Você pode baixar os arquivos binários para sua distribuição particular
        em <a href="http://cran.r-project.org/index.html">CRAN</a>. Ou
        você pode utilizar seu "package manager" (e.g. para Debian/Ubuntu
        rode <code>sudo apt-get install r-base</code> e para Fedora rode
        <code>sudo yum install R</code>). Além disso, por favor instale o
        <a href="http://www.rstudio.com/ide/download/desktop">RStudio IDE</a>.
      </p>
    </div>
  </div>
</div> <!-- End of 'R' section. -->

<div id="rmarkdown"> <!-- Start of 'RMarkdown' section. -->
  <h3>RMarkdown</h3>

  <p>
    O <a href="http://rmarkdown.rstudio.com">RMarkdown</a> é um pacote
    do R que permite criar documentos dinâmicos, que misturam texto e
    códigos do R. A linguagem utilizada para escrever os documentos é a
    <a href="https://daringfireball.net/projects/markdown/">Markdown</a>
    (em formato simples de texto pleno), com blocos de código R que são
    executados e incluídos no documento.
  </p>
  <p>
    O <a href="http://www.rstudio.com/ide/download/desktop">RStudio
    IDE</a> já traz as ferramentas necessárias para escrever documentos
    em RMarkdown. No entanto, será necessário instalar alguns pacotes
    extra: <code>evaluate</code>, <code>digest</code>, <code>formatR</code>,
    <code>highr</code>, <code>markdown</code>, <code>stringr</code>,
    <code>yaml</code>, <code>htmltools</code>, <code>caTools</code>,
    <code>bitops</code>, <code>knitr</code>, e <code>rmarkdown</code>.
  </p>
  <p>
    Você pode instalar todos esses pacotes facilmente pelo próprio
    RStudio, seguindo estes passos:
    <ol>
      <li>No menu do Rstudio vá em <code>File > New File > R Markdown...</code></li>
      <li>Uma janela deverá se abrir perguntando se você deseja
      instalar estes pacotes para que o R Markdown funcione
      corretamente.</li>
      <li>Selecione "Yes"</li>
    </ol>
    Os pacotes deverão ser instalados automaticamente. Se tiver
    dificuldades com a abordagem acima, você pode tentar instalar os
    pacotes manualmente. Para um guia de instalação de pacotes,
    veja <a href="https://github.com/fernandomayer/R-pacotes-rautu/blob/master/R_gerenciamento_de_pacotes.md">Gerenciamento
    de pacotes no R</a>.
  </p>
</div> <!-- End of RMarkdown' section. -->

<div id="julia"> <!-- Start of 'Julia' section. -->
  <h3>Julia</h3>

  <p>
    <a href="http://julialang.org/">Julia</a> e uma linguagem de programação
    especificamente poderosa para álgebra linear computacional, mas que também é
    bastante robusta, lidando com várias áreas diferentes.
  </p>
  <p>
    Para instalar o Julia, em qualquer plataforma, entre no site de
    <a href="http://julialang.org/downloads/">downloads</a> e baixe a versão
    específica para seu computador.
    Você pode baixar o
    <a href="http://junolab.org/">JunoLab</a>, que gera uma interface gráfica
    para o Julia.
  </p>
  <p>
    Você também precisa baixar o
    <a href="http://jupyter.readthedocs.io/en/latest/install.html">Jupyter</a>,
    que também vai depender do seu sistema.
  </p>
</div> <!-- End of 'Julia' section. -->

<h2 id="thanks">Agradecimentos</h2>

<div id="thaks-table">
  <div class="row">
    <div class="col-md-3">
      <h4>Organização</h4>
      <a href="http://www.ufpr.br/">
      <img src="img/ufpr.jpg" alt="Universidade Federal do Paraná" class="img-responsive">
      </a>
    </div>
    <div class="col-md-3">
      <h4>Apoio</h4>
      <a href="http://software-carpentry.org/">
      <img src="img/swc.png" alt="Software Carpentry" class="img-responsive">
      </a>
      <a href="http://www.datacarpentry.org/">
      <img src="img/dc.png" alt="Data Carpentry" class="img-responsive">
      </a>
    </div>
  </div>
</div
